@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Major+Mono+Display&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes yippee {
  0% {
    background-color: hotpink;
  }
  25% {
    background-color: blueviolet;
  }
  50% {
    background-color: deepskyblue;
  }
  75% {
    background-color: blueviolet;
  }
  100% {
    background-color: hotpink;
  }
}
@keyframes slide {
  0% {
    right: 35%;
  }
  50% {
    right: -35%;
  }
  100% {
    right: 35%;
  }
}
@keyframes whee {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
    filter: hue-rotate(180deg);
  }
  100% {
    rotate: 360deg;
  }
}
body {
  color: white;
  animation-name: yippee;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  text-align: center;
  font-family: DotGothic16, "Times New Roman", Arial;
  font: DotGothic16;
  text-shadow: 1px 1px 0px black;
}
h1 {
  letter-spacing: 15px;
  text-decoration: underline overline;
  text-decoration-style: double;
}
.maxwell {
  max-block-size: 200px;
  border-radius: 25%;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 0px black);
}
.maxwell:hover {
  max-block-size: 200px;
  border-radius: 25%;
  image-rendering: pixelated;
  filter: hue-rotate(270deg) saturate(4) drop-shadow(2px 2px 0px black);
}
button {
  background-color: lightpink;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid palevioletred;
  border-bottom: 2px solid palevioletred;
  font-family: DotGothic16, "Times New Roman", Arial;
  font: DotGothic16;
  text-align: top;
  color: black;
  font-family: DotGothic16, "Times New Roman", Arial;
  font: DotGothic16;
  text-shadow: 1px 1px 0px white;
  letter-spacing: 5px;
}
button:active {
  background-color: pink;
  border-top: 2px solid palevioletred;
  border-left: 2px solid palevioletred;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  font-family: DotGothic16, "Times New Roman", Arial;
  font: DotGothic16;
  text-align: top;
  color: white;
  font-family: DotGothic16, "Times New Roman", Arial;
  font: DotGothic16;
  text-shadow: 1px 1px 0px black;
  letter-spacing: 5px;
}
.silly {
  max-block-size: 200px;
  border-radius: 25%;
  image-rendering: pixelated;
  position: relative;
  filter: drop-shadow(2px 2px 0px black);
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  overflow: hidden;
}
.plant {
  max-block-size: 200px;
  image-rendering: pixelated;
  position: relative;
}
.plant:active {
  max-block-size: 200px;
  image-rendering: pixelated;
  position: relative;
  animation-name: whee;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.popbox {
  text-align: center;
  position: relative;
  box-sizing: content-box;
  overflow-wrap: break-word;
}
.popboxi {
  max-block-size: 200px;
  filter: drop-shadow(2px 2px 0px black);
  image-rendering: pixelated;
  z-index:-1;
}
.topofbox {
  position: absolute;
  top: 8px;
  left: 40%;
  letter-spacing: 15px;
}
.centerofbox {
  max-width: 264px;
  max-height: 112px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: inherit;
  color: black;
  text-shadow: 1px 1px 0px white;
}
